{% extends "master.html" %}
{% load static %}


{% block title %} About Spectra Events {% endblock %}
    


{% block content %}
<!-- about section one start -->
<section class="card-section abtmain " >
    <div class="about-section text-center d-flex align-items-center justify-content-center">
        <div>
            <h1 class="about-title">Who We are?</h1>
            <p class="about-description">We work to create and develop large-scale events from the ground up. This consists of devising the event concept, identifying the target audience, full brand creation and coordinating all technical aspects.</p>
        </div>
    </div>
</section>
<!-- About section one end  -->

<!-- About section second start -->
 <section class="image-section py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4>Our Events</h4>
                <p>Spectra Event Management is a premier event planning and coordination company, renowned for its innovative approach, meticulous attention to detail, and commitment to excellence. Whether it’s a corporate gathering, wedding, festival, or private celebration, Spectra Event transforms every occasion into a memorable experience that exceeds expectations.At Spectra Events, we pride ourselves on being a collective of highly experienced professionals, each bringing a wealth of knowledge and a fervent enthusiasm to the table. Our team isn't just made up of event planners; we're visionaries, strategists, and artisans, passionate about orchestrating experiences that leave a lasting impression and spark inspiration.</p>
                <img src="{% static '' %}" class="rounded mx-auto d-block" alt="...">
                <a href="" class="btn btn-success">Learn More</a>
            </div>
        </div>
    </div>
 </section>
<!-- About section second end -->

<!-- About section third start -->
 <section>
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6 text-section">
                <h6 class="section-subtitle">Planner for Your Perfect Wedding</h6>
                <h2 class="section-title">Spectra Events Management is builton trust and execution.</h2>
                <img src="{% static 'images/people-2565128.jpg' %}" class="img-fluid" alt="our image">
                <p></p>
        </div>
    </div>
 </section>
 <!-- About section third end -->

 <!-- About section four start-->
  <section>
    <div class="container my-5">
        <div class="row text-center">
          <div class="col-md-2">
            <div class="icon-box">
              <img src="" alt="Event Design">
              <p>EVENT DESIGN</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box">
              <img src="" alt="Film and Television">
              <p>FILM & TELEVISION</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box">
              <img src="" alt="Custom Fabrication">
              <p>CUSTOM FABRICATION</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box">
              <img src="" alt="Floor Planning">
              <p>FLOOR PLANNING</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box">
              <img src="" alt="Commercial Decor">
              <p>COMMERCIAL DECOR</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="icon-box">
              <img src="" alt="Health and Safety">
              <p>HEALTH | SAFETY</p>
            </div>
          </div>
        </div>
      </div>
  </section>
 <!-- About section four end -->
{% endblock %}