{% extends "master.html" %}
{% load static %}


{% block title %} Contact Spectra Events {% endblock %}
    


{% block content %}
<!-- contact us first section start -->
<section class="cnct-section contact" >
    <div class="contact-section text-center d-flex align-items-center justify-content-center">
        <div>
            <h1 class="contact-title">Contact US</h1>
            <p class="contact-description">You can Contact us Through via E-mail We will connect you ASAP.</p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="mx-5 display-flex justify-content-end">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloribus autem iure nulla alias quae natus, et suscipit, pariatur quisquam possimus hic laboriosam repellendus porro tempore. Ipsam molestias possimus nostrum.
            Facilis asperiores sit saepe voluptatem ut commodi voluptas nulla ea nemo qui explicabo libero, sint consectetur atque, laborum cum est deleniti recusandae vero, sed provident debitis cumque sunt id! Quas?
            Totam at iste repudiandae consequuntur exercitationem? Illum eius iusto, dolores inventore dolorem illo nihil natus amet, dignissimos, pariatur tempora optio veniam deserunt repellendus quo? Doloribus voluptatum nulla suscipit nihil similique?</p>
        </div>
    </div>
</section>

<!-- contact us first section end -->
{% endblock %}